*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
:root{
    --primary-white: #FFFFFF;
    --primary-blue: #24306E;
    --primary-gray: #404040;
    --secondary-grey : #616161;
}
html{
    scroll-behavior: smooth;
}
body{
    width: auto;
    min-height: 100vh;
}
header{
    color: var(--primary-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 28.645px;
    letter-spacing: -0.64px;
}
.logo img{
    width: 150px;
}

#welcome{
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--primary-blue);
}

#welcome .title{
    padding: 20px;
}
#title-list-beasiswa{
    padding: 30px;
    color: var(--primary-gray);
    flex-shrink: 0;
    font-size: 1.5em;
    line-height: normal;
    letter-spacing: normal;
}

.box{
    margin: 20px 50px;
    padding: 30px;
    display: flex;
    background-color: #E2EBEB;

}
.box .text{
    display: flex;
    justify-content: center;
    height: initial;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.box img{
    width: 400px;
    object-fit: contain;
}
.box h3{
    color: #404040;
    font-size: 1.8em;
    font-weight: 500;
}
.box p{
    margin-bottom: 30px;
    color: var(--secondary-grey);
    font-size: 1.3em;
    font-weight: 400;
}
.btn-blue{
    width: fit-content;
    padding: 10px 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border-radius: 100px;
    font-size: 0.8em;
    cursor: pointer;
}

/* #footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("./assets/foto itb hehe.jpg") no-repeat;;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
} */

